.textarea {
  padding: 12px 16px;
  font-size: 14px;
  line-height: 180%;
  border: 0;
  width: 100%;
  background: 0 0;
  resize: none;
  overflow: auto;
  vertical-align: top;
  appearance: none;
  margin: 0;
  letter-spacing: 0.13rem;
  font-size: 16px;
  height: 480px;
  @media (min-width: 480px) {
    font-size: 14px;
    height: 240px;
  }
  &::placeholder {
    color: #cccccc;
  }
  &:focus {
    &::placeholder {
      color: #eaeded;
    }
  }
}
